:root {
  --header-color: #020617;
  --login-btn-color: #475569;
  --header-text-color: #f8fafc;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 8fr;
}

/* header */

.header {
  grid-column: 1 / 2;
  background-color: var(--header-color);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.login {
  position: relative;
  float: right;
  bottom: 55px;
  right: 20px;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  background-color: var(--header-text-color);
  border: none;
  color: var(--header-color);
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.header .title {
  margin: 20px;
  font-style: italic;
  font-size: 40px;
  color: var(--header-text-color);
}

/* book cards */

.content {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.content .book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px var(--header-color) solid;
  margin: 10px;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);

}

.book-info > p {
  font-size: 20px;
  padding: 10px;
}

/* form */

form {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  border: 2px var(--header-color) solid;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
}

.book-info-head {
  text-align: center;
  font-style: italic;
}

.book-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative;
  top: 50px;
}

.book-inputs > button {
  border: none;
  background-color: var(--header-color);
  color: var(--header-text-color);
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

/* add book button */

.add-book {
  display: flex;
  grid-column: 5 / 6;
  grid-row: 4 / 5;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  
}

.add-book-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--header-color);
  color: var(--header-text-color);
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
  
  


