:root {
  --header-color: #e5e7eb;
  --login-btn-color: #475569;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 8fr;
}

/* header */

.header {
  grid-column: 1 / 3;
  background-color: var(--header-color);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.login {
  position: relative;
  float: right;
  bottom: 45px;
  right: 20px;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  background-color: var(--login-btn-color);
  border: none;
  color: var(--header-color);
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.container .title {
  margin: 20px;
  font-style: italic;
}

/* book cards */

.content {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(5, minmax(300px, 1fr));
  grid-template-rows: repeat(4, minmax(200px, 1fr));
}

